
    <main>
      {{#with cube}}
      <h1>{{name}}</h1>
      <img class="cube" src= {{imageUrl}}>
      <div class="details">
        <p><span>Description:</span>{{description}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
      {{/with}}
        <a class="btn" href="/">Back</a>
      </div>
        <h2>Accessories</h2>
            <div class="accessories">
               {{!-- insert accessory cards here --}}
     {{#if isEmpty}}
        <h3 class="italic">This cube has no accessories yet...</h3>
        {{else}}
     {{#each cube.accessories}}
     {{> accessoryCard}}
     {{/each}}
     {{/if}}
      

      <form action="/attach/accessory/{{cube._id}}">
    <input type="submit" value="Attach accessories" id="attach" />
      </form>
      {{!-- <a id="attach" href="/attach/accessory/{{cube._id}}">Attach accessories</a>
    <button id="attach"><a href="/attach/accessory/{{cube._id}}"></a>Attach accessories</button> --}}
      </div>
    </main>
